mat-form-field{
  width: 100%;
  display: flex;
  margin: 0;
}

form{
  width: 100%;
}

app-dialog{
  padding: 10px;
}

.container-dialog {
  padding: 15px;
  height: 95vh;
  overflow: hidden;
}

mat-select{
  justify-self: center;
  border: 1px solid rgba(0, 0, 0, 0.397);
  padding: 15px 0px;
  align-self: flex-start;
  border-radius: 3px;
  text-align: center;
  width: 100%;
}

.mat-tab-group {
  margin-bottom: 15px;
}

.button-forms{
  padding: 15px;
}

.form-field-style{
  width: 725px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

mat-tab-group {
  margin-bottom: 15px;
}

.margin-tab{
  margin-top: 15px;
}

.mat-mdc-tab-body-content{
  padding: 15px;
}


